:root {
  /* Colors */
  --color-text: #f5f5f5; /* Soft light gray for text, ensuring readability against dark backgrounds */
  --color-primary: #2c3e50; /* Deep blue-gray for primary elements, conveying professionalism and stability */
  --color-secondary: #16a085; /* Teal for secondary elements, adding a modern and refreshing touch */
  --color-accent: #ecf0f1; /* Very light gray for accents and highlights, providing subtle contrast */
  --color-dark: #1c1c1c; /* Dark gray for the main background, creating a solid, professional foundation */
  --color-bg: #2e2e2e; 
  --font-roboto: "Roboto";
}
